<p id="notice"><%= notice %></p>

<h1>Welcomes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    Fiiiiiii
  </tbody>
</table>

<br>

<%= link_to 'New Welcome', new_welcome_path %>
